{% extends 'mainapp/base.html' %}

{% block content %}

<h1 class="movie-bold">{{ title }}</h1>

<form method="post">
    {% csrf_token %}
    {% if form.non_field_errors %}
    <div class="alert alert-warning post mt-2" role="alert">
        {{ form.non_field_errors }}
    </div>
    {% endif %}
    <div class="mb-3">
        {{ form.text }}
        {% if form.errors %}
        <div class="alert alert-warning post mt-2" role="alert">
            {{ form.errors }}
        </div>
        {% endif %}
    </div>
    <button type="submit" class="btn btn-outline-success">Update</button>
</form>

{% endblock %}