{% extends 'mainapp/base.html' %}

{% block content %}
    <div class="reg-login-div">
    <h1 class="actor-bold">{{ title }}</h1>

        <form action="{% url 'register' %}" method="post" >
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="alert alert-warning post mt-2" role="alert">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            {% for f in form %}
                <div class="mb-3">
                    <label for="{{ f.id_for_label }}" class="form-label">{{ f.label }}</label>
                    {{ f }}
                    {% if f.errors %}
                    <div class="alert alert-warning post mt-2" role="alert">
                        {{ f.errors }}
                    </div>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-outline-primary">Register</button>
        </form>

        <p>Already have an account? <a class="actor-link" href="{% url 'login' %}">Login</a></p>
    </div>
{% endblock %}