{% extends 'mainapp/base.html' %}

{% block content %}

    <h1>{{ title }}</h1>

    <div class="alert alert-primary post" role="alert">
        {% if actor.photo %}
            <img src="{{ actor.photo.url }}" width="300" alt="actor.name">
        {% endif %}
        <h2><a href="{{ actor.get_absolute_url }}">{{ actor.name }}</a></h2>
        <p>{{ actor.bio|linebreaks }}</p>
        <p><b>Movies</b></p>
        {% for movie in actor.movies.all %}
            <p><a href="{{ movie.get_absolute_url }}">{{ movie.title }}</a></p>
        {% endfor %}
        <p>Post was added at: {{ actor.create_time|date:"d.m.Y" }}</p>
    </div>

{% endblock %}