{% extends 'mainapp/base.html' %}
{% load mainapp_tags %}

{% block search %}
    <form class="d-flex" role="search" action="{% url 'actor_search' %}" method="POST">
        {% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="Search for actor" aria-label="Search" name="actor-search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
    </form>
{% endblock %}

{% block content %}

    <h1 class="actor-bold">{{ title }}</h1>


    {% for actor in actors %}

        <div class="card mb-3" style="max-width: 80%;">
            <div class="row g-0">
                <div class="col-md-4">
                    {% if actor.photo %}
                        <img class="img-fluid rounded-start" src="{{ actor.photo.url }}">
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h2 class="card-title"><a class="actor-link" href="{{ actor.get_absolute_url }}">{{ actor.name }}</a></h2>
                        <p class="card-text">{{ actor.bio|truncatewords:140 }}</p>
                        <p class="card-text"><small class="text-body-secondary"><b class="actor-movies actor-bold">Movies</b> {% get_actors_movies actor=actor %}</small></p>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}

{% endblock %}