{% extends 'mainapp/base.html' %}
{% load mainapp_tags %}

{% block content %}

    <h1>{{ title }}</h1>


    {% for actor in actors %}

        <div class="alert alert-primary post" role="alert">
            {% if actor.photo %}
                <img src="{{ actor.photo.url }}" WIDTH="200" alt="actor.name">
            {% endif %}
            <h2><a href="{{ actor.get_absolute_url }}">{{ actor.name }}</a></h2>
            <p>{{ actor.bio|truncatewords:30 }}</p>
            <p><b>Movies</b> {% get_actors_movies actor=actor %}</p>

        </div>

    {% endfor %}

{% endblock %}