{% extends 'mainapp/base.html' %}

{% block content %}

<h1 class="actor-bold">{{ title }}</h1>

    <div class="card">
      <h5 class="card-header">Are you sure you want to delete your account?</h5>
        <div class="card-body">

            <h5 class="card-title actor-bold">{{ current_user.username }}</h5>
            <p class="card-title card-text">
                {% if current_user.last_name %} {{ current_user.first_name }} {% endif %} {% if current_user.last_name %} {{ current_user.last_name }} {% endif %}
            </p>

            {% if current_user.is_staff %}
                <h7 class="card-text">Superuser</h7>
            {% elif current_user.is_superuser %}
                <h7 class="card-text">Staff</h7>
            {% endif %}

            <form method="post" class="mt-2 mb-0">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-danger" value="Yes">Yes, delete</button>
            </form>

        </div>
    </div>

{% endblock %}