{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}

    <div class="card border-primary mt-3">
        <div class="row g-0">
            <div class="col-md-4">
                {% if user_info.custom_profile.profile_pic %}
                    <img class="img-fluid rounded-top" src="{{ user_info.custom_profile.profile_pic.url }}">
                {% endif %}
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h1 class="actor-bold">{{ user_info.username }}</h1>
                    <p class="card-text">
                        {% if user_info.last_name %} {{ user_info.first_name }} {% endif %} {% if user_info.last_name %} {{ user_info.last_name }} {% endif %}
                    </p>
                    {% if user_info.is_staff %}
                        <h5 class="card-title actor-bold">Superuser</h5>
                    {% elif user_info.is_superuser %}
                        <h5 class="card-title actor-bold">Staff</h5>
                    {% endif %}
                    {% if request.user == user_info %}
                        <hr>
                        <p class="card-text">
                            <a class="actor-link" href="{% url 'chane_profile_pic' user_info.custom_profile.pk %}">Change profile pic</a> |
                            <a class="actor-link" href="{% url 'update_user' user_info.username %}">Update</a> |
                            <a class="actor-link" href="{% url 'delete_user' user_info.username %}">Delete</a>
                        </p>
                        <hr>
                        <a class="actor-link" href="{% url 'logout' %}">Logout</a>
                    {% endif %}
                </div>
            </div>
            <div class="card-footer text-end">
                <small class="text-body-secondary">Joined at: {{ user_info.date_joined|date:"d.m.Y" }}</small>
            </div>
        </div>
    </div>
{% endblock %}
