{% extends 'mainapp/base.html' %}
{% load mainapp_tags %}

{% block content %}

        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    {% if movie.poster %}
                        <img class="img-fluid rounded-start" src="{{ movie.poster.url }}">
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <div class="card-header">
                        <h2 class="card-title movie-bold">{{ movie.title }}</h2>
                        {% colored_stars_range number=movie.rating as rating_range %}
                        {% for star in rating_range %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="green" class="bi bi-star" viewBox="0 0 16 16">
                                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                            </svg>
                        {% endfor %}
                        {% if movie.rating != 10 %}
                            {% other_stars_range number=movie.rating as other_range %}
                            {% for star in other_range %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                            </svg>
                            {% endfor %}
                        {% endif %}
                        <p class="card-text"><b class="movie-bold">{{ movie.rating }}</b> / 10</p>
                        <p class="card-text"><b class="movie-bold">Release date:</b> {{ movie.release_date }}</p>
                        <p class="card-text"><small class="text-body-secondary"><b class="movie-bold">Cast</b></small></p>
                        {% for actor in movie.actors.all %}
                            <p class="card-text"><a class="movie-link" href="{{ actor.get_absolute_url }}">{{ actor.name }}</a></p>
                        {% endfor %}
                    </div>
                    <div class="card-body">
                        {% if request.user.is_superuser %}
                            <p class="card-text">
                                <a class="movie-link" href="{{ movie.get_absolute_url_for_update }}">Update</a> |
                                <a class="movie-link" href="{{ movie.get_absolute_url_for_delete }}">Delete</a>
                            </p>
                        {% endif %}
                        {% if movie.trailer %}
                            <video controls width="100%">
                                <source src="{{ movie.trailer.url }}" type="video/mp4">
                            </video>
                        {% endif %}
                        <p class="card-text">{{ movie.plot|linebreaks }}</p>
                        {% if request.user.is_authenticated %}
                            <form method="post">
                                {% csrf_token %}
                                {% if form.non_field_errors %}
                                <div class="alert alert-warning post mt-2" role="alert">
                                    {{ form.non_field_errors }}
                                </div>
                                {% endif %}
                                <div class="mb-3">
                                    {{ form.text }}
                                    {% if form.errors %}
                                    <div class="alert alert-warning post mt-2" role="alert">
                                        {{ form.errors }}
                                    </div>
                                    {% endif %}
                                </div>
                                <button type="submit" class="btn btn-outline-success">Send</button>
                            </form>
                        {% endif %}
                        {% if comments %}
                            {% for comment in comments %}
                                <div class="card mb-3">
                                    <div class="card-header">
                                        <h5 class="card-title"><a class="movie-link" href="{% url 'profile_page' comment.author.username %}">{{ comment.author }}</a></h5>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">{{ comment.text }}</p>
                                        <p class="card-text">
                                            {% if request.user.is_authenticated %}
                                                <a class="movie-link" href="{{ comment.get_absolute_url }}">Answer</a>
                                                {% if request.user == comment.author %}
                                                     | <a class="movie-link" href="{{ comment.get_absolute_url_for_update }}">Update</a> |
                                                    <a class="movie-link" href="{{ comment.get_absolute_url_for_delete }}">Delete</a>
                                                {% endif %}
                                            {% endif %}
                                        </p>
                                    </div>
                                    <div class="card-footer text-end">
                                        <small class="text-body-secondary">{{ comment.create_time|date:"d.m.Y" }}</small>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="card-footer text-end">
                        <small class="text-body-secondary">Was created at: {{ movie.create_time|date:"d.m.Y" }}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}