{% extends 'mainapp/base.html' %}

{% block content %}

    <h1>{{ title }}</h1>

    <div class="movie alert alert-success" role="alert">
        {% if movie.poster %}
            <img src="{{ movie.poster.url }}" width="300" alt="movi.title">
        {% endif %}
        <h2><a class="movie-link" href="{{ movie.get_absolute_url }}">{{ movie.title }}</a></h2>
        <p>{{ movie.plot|linebreaks }}</p>
        <p><b class="movie-bold">Release date:</b> {{ movie.release_date }}</p>
        <p><b class="movie-bold">Cast:</b></p>
        {% for actor in movie.actors.all %}
            <p><a class="movie-link" href="{{ actor.get_absolute_url }}">{{ actor.name }}</a></p>
        {% endfor %}
        <p>Post was added at: {{ movie.create_time|date:"d.m.Y" }}</p>
    </div>

{% endblock %}