.content {
    max-width: 60%;
    margin: 0 auto;
}

.pagination {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.actor-link {
    text-decoration: none;
    color: rgb(45, 107, 189);
}

.actor-bold {
    color: rgb(38, 86, 150);
}

.movie-link {
    text-decoration: none;
    color: rgb(39, 151, 39);
}

.movie-bold {
    color: rgb(32, 119, 32);
}
